BODY {
    background: #444 url(../img/bg.png) repeat fixed;
}

.main {
    WIDTH: 1024px;
    MARGIN: 30px auto 0px;
    border: 1px solid #496077;
    BACKGROUND-COLOR: #ecfafb
}

.title {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    max-height: 120px;
    VERTICAL-ALIGN: text-top
}

.textTitle {
    height: 30px;
    FONT-SIZE: 24px;
    FONT-WEIGHT: bolder;
    COLOR: #ffff00;
    TEXT-ALIGN: center;
    background: #03a5a5
}

.product {
    float: left;
    width: 50%;
    text-align: center;
    height: 400px;
}

.tissueFormText {
    HEIGHT: 50px;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: right;
    WIDTH: 200px;
    BACKGROUND-COLOR: #03a5a5
}

.tissueFormTextFont {
    FONT-SIZE: 26px;
    FONT-FAMILY: 楷体;
    WHITE-SPACE: nowrap;
    COLOR: #ffffff;
    TEXT-ALIGN: right
}

.tissueFormInput {
    background: #444 url(../img/bg.png) repeat fixed;
    COLOR: #000000;
    padding: 5px;
}

.tissueFormInputFont {
    FONT-SIZE: 20px;
    WIDTH: 312px
}
.tissueTable{
    background: #444 url(../img/bg.png) repeat fixed;
}

.footButtonLine {
    background: #444 url(../img/bg.png) repeat fixed;
}
.answerPageFootButton {
    CURSOR: pointer;
    FONT-SIZE: 25px;
    HEIGHT: 45px;
    BACKGROUND: url(../img/footButton.gif) no-repeat 0px -73px;
    FONT-WEIGHT: bold;
    COLOR: #fff;
    TEXT-ALIGN: center;
    border-style: none;
    LINE-HEIGHT: 27px;
    WIDTH: 195px;
    MARGIN-LEFT: 40%
}

.footButton {
    CURSOR: pointer;
    FONT-SIZE: 25px;
    HEIGHT: 45px;
    BACKGROUND: url(../img/footButton.gif) no-repeat 0px -73px;
    FONT-WEIGHT: bold;
    COLOR: #fff;
    TEXT-ALIGN: center;
    border-style: none;
    LINE-HEIGHT: 27px;
    WIDTH: 195px;
    MARGIN-LEFT: 20%
}

.footNextButton {
    CURSOR: pointer;
    FONT-SIZE: 25px;
    HEIGHT: 45px;
    BACKGROUND: url(../img/footButton.gif) no-repeat 0px -73px;
    FONT-WEIGHT: bold;
    COLOR: #fff;
    TEXT-ALIGN: center;
    border-style: none;
    LINE-HEIGHT: 27px;
    WIDTH: 195px;
    MARGIN-LEFT: 20%
}
.footBackwardButton {
    CURSOR: pointer;
    FONT-SIZE: 25px;
    HEIGHT: 45px;
    BACKGROUND: url(../img/footButton.gif) no-repeat 0px -73px;
    FONT-WEIGHT: bold;
    COLOR: #fff;
    TEXT-ALIGN: center;
    border-style: none;
    LINE-HEIGHT: 27px;
    WIDTH: 195px;
    MARGIN-LEFT: 20%
}

.footMessageLine {
    background: #444 url(../img/bg.png) repeat fixed;
    MARGIN-LEFT: 50px;
}
