<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="RollInfo" type="advancedPath.domain.RollInfo"/>
        <typeAlias alias="RollInfoItem" type="advancedPath.domain.RollInfoItem"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@172.23.1.130:1521:SDMSLM1"/>
                <property name="username" value="SDMS"/>
                <property name="password" value="SDMS"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 配置映射表 -->
    <mappers>
        <mapper resource="SDMS.xml"/>
    </mappers>
</configuration>