<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!--配置映射实体类-->
        <typeAlias alias="Paper" type="tissueComplaint.entity.Paper"/>
        <typeAlias alias="EmailLog" type="tissueComplaint.entity.EmailLog"/>
        <typeAlias alias="Department" type="tissueComplaint.entity.Department"/>
        <typeAlias alias="Product" type="tissueComplaint.entity.Product"/>
        <typeAlias alias="SalesRegionChannel" type="tissueComplaint.entity.SalesRegionChannel"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
                <!--老式写法
                <property name="url" value="jdbc:microsoft:sqlserver://172.23.1.137:1433;DatabaseName=CCS_TS"/>-->
                <property name="url" value="jdbc:sqlserver://172.23.1.137:1433;DatabaseName=CCS_TS"/>
                <property name="username" value="sa"/>
                <property name="password" value="1qaz!QAZ"/>
            </dataSource>
        </environment>
    </environments>
    <!--配置映射表-->
    <mappers>
        <mapper resource="baseData.xml"/>
        <mapper resource="businessData.xml"/>
    </mappers>
</configuration>